body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight {
    color: #38bdf8;
}

.btn-custom {
    background: #38bdf8;
    color: black;
    border: none;
}

.section {
    padding: 80px 0;
}

.card {
    background: #1e293b;
    color: white;
    border: none;
    margin-top: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
